/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Work+Sans&display=swap');

/* common styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Work Sans', sans-serif;

}



/* header and nav styles */
.header {
    background: rgba(255, 144, 14, 0.1);


}

nav {
    display: flex;
    justify-content: space-between;
    padding: 50px 230px;


}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;

}

nav li {
    list-style: none;
    margin-left: 50px;
}

.nav-title {
    font-weight: 700;
    font-size: 45px;
    color: #131313;


}

.banner {
    margin-top: 100px;
    text-align: center;
    padding-bottom: 50px;



}

.banner-2 {
    margin-bottom: 50px;
    margin-left: 530px;
    margin-right: 530px;


}

.banner-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-bottom: 20px;

}

.banner-text {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 33px;
    line-height: 26px;
}

.images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}

.right-image {
    display: flex;
    flex-direction: column;

}

.quick-list {
    display: flex;
    align-items: center;
    margin-left: 301px;
    margin-right: 301px;
    margin-top: 85px;
    justify-content: center;
}

.span {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 24px;
}

.span-1 {
    color: #727272;
}

.span-2 {
    color: #131313;
    ;
}

.span-3 {
    color: #FF900E;
    ;
}

.para-2 {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 32px;

}

.quick-list-2 {
    margin-left: 76px;
    margin-bottom: 130px;

}

.line {
    width: 5px;
    height: 106px;
    background: #FF900E;
}

.top-lines {
    display: flex;
    flex-direction: row;
}

.h1-2 {

    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-left: 21px;
    margin-bottom: 24px;
}

.pera-3 {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 30px;
    line-height: 26px;
}

.feature {
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 130px;
    margin-bottom: 0px;
    display: flex;

    max-width: 1440px;
    max-height: 1059px;
    justify-items: center;
    align-items: center;


}

.features {
    margin-right: 146px;
}



.points-head {
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom: 10px;

}

.points-pera {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    line-height: 26px;


}

.points-container {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.points {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding: 30px 42px;

}

.facts {
    padding: 130px 240px 0 240px;



}

.facts-head {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}

.facts-pera {
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    line-height: 26px;
}

.boxes {
    display: flex;

    justify-content: space-evenly;
    padding: 0 166px;

}

.box {
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 36px;
    text-align: center;
    margin-top: 100px;
}

.number-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #727272;
}

.number {
    font-weight: 600;
    font-size: 45px;
    line-height: 53px;
    color: #424242;
}

.sponspor {
    margin-top: 180px;
    text-align: center;
   
}

.sponspor-head {
    font-weight: 700;
font-size: 45px;
line-height: 53px;
color: #131313;
margin-bottom: 24px;
}

.sponspor-pera {
    font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #727272;
padding: 0 689px;
}
.boxes-2{
    display: flex;
    justify-content: space-between;
    padding: 0 240px;
    margin-top: 50px;
    margin-bottom: 130px;
    filter: grayscale();
}

.footer-box{
    background: #FFF4E7;
border-radius: 8px;
padding: 39px 410px;

}
.footer-text{
    text-align: center;
    justify-content: center;
    font-weight: 400;
font-size: 20px;
color: #424242;

}
footer{
    max-width: 1440px;
    margin: auto;
    margin-bottom: 216px;
}
/* orange buttons */
.btn-primary {
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: 0;
    padding: 20px 25px;
}

.btn-primary-2 {
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    border: 0;
    padding: 46px 42px;

}

.btn-2nd {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
}

.btn-2nd-pera {
    font-weight: 500;
    font-size: 25px;
    color: #FFFFFF;
}
